

$lightRed : hsl(356, 100%, 66%); //(CTA text)
$veryLightRed : hsl(355, 100%, 74%); //(CTA hover background)
$veryDarkBlue : hsl(208, 49%, 24%); //(headings)


$white : hsl(0, 0%, 100%); //(text)
$grayishBlue : hsl(240, 2%, 79%); //(footer text)
$veryDarkGrayishBlue : hsl(207, 13%, 34%); //(body copy)
$veryDarkBlackBlue : hsl(240, 10%, 16%); //(footer background)


$mobileMenuBg: rgb(239, 239, 241);
$bodyBg: rgb(250, 250, 250);


$gradientRed: linear-gradient( hsl(13, 100%, 72%), hsl(353, 100%, 62%));

$gradientRedLtR: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

$gradientBlue: linear-gradient( hsl(237, 17%, 21%), hsl(237, 23%, 32%));

$gradientBlueLtR: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));